body {
    background-image: url("4k.jpg"); 
      
    background-position: center; 
    background-repeat: no-repeat; 
    
    filter:brightness(1) contrast(1) saturate(5);
    overflow: hidden;
}



#divs{
  padding:100px;
  margin-top: 200px;   
}

.divs{
    display:flex;
   
}
#buttons button{
    background-color: rgb(243, 94, 94);
    border-radius: 5px;
    color:white;
    padding:10px 30px;
    border-color: rgb(243, 94, 94);
    margin-top: 20px;
    transition:0.3s;
}
#press button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color:rgb(0, 0, 0);
    padding:10px 45px;
    border-color: rgb(255, 255, 255);
    margin-left: 150px;
    position:relative;
    top:-39px;
    transition:0.3s;
}
h1{
    color:rgb(2, 26, 34);
    
}
h3{
    color:rgb(241, 136, 171);
}
p{
    font-size: large;
    font-family:Arial;
    text-shadow: 0 0px 10px white,
    0 0px 10px white,
    0 0px 10px white;
    
}
#buttons button:hover{
    transform:scale(1.1);
    background-color:rgb(250, 73, 73);
    box-shadow: 0 0px 20px red;
}
#press button:hover{
    transform:scale(1.1);
    background-color: black;
    color:white;
    box-shadow: 0 0px 20px rgb(253, 253, 253);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: rgba(228, 248, 241, 0.582);
}

.logo{
  color: rgb(2, 56, 105);
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 30px;
  position:relative;
  
  
}


.nav-links li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  
}

.nav-links li a:hover{
  color: rgb(243, 94, 94);
  text-shadow: 0 0px 20px rgb(204, 0, 255);
  
}

.nav-btn{
  background-color: rgb(243, 94, 94);
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  transition:0.3s;
}
.nav-btn:hover{
    transform:scale(1.1);
}